/* src/components/Navbar/Navbar.module.css */
.navbar {
  background-color: var(--color-primary); /* Green background */
  height: 74px;
  width: 100%;
  padding: 0 32px; /* Adjust padding for space on both sides of the navbar */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center; /* Ensure the logo is vertically centered */
  text-decoration: none;
  color: #FFFFFF; /* Ensure logo text is white */
  margin-left: 16px; /* Add space to the left of the logo */
}
